<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{{ title }}</title>
</head>

<body>
    <!-- Custom header with navigation links -->
    <header class="custom-header">
        <h1 class="reelvibes-logo">ReelVibes</h1>
        <nav class="nav-links">
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('recommend') }}">RECOMMEND</a>
            <a href="{{ url_for('login') }}">LOGIN</a>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        &copy; 2024 ReelVibes
    </footer>
</body>

</html>