{% extends 'layout.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="static/css/style2.css">
</head>

<body>
    <!-- Button for deleting the account-->
    <!-- Button for logging out -->
    <div class="profile-container">
        <div class="buttons-grid">
            <form method="" action="">
                <button id="delete-account" name="button_id">Delete Account</button>
                <button id="log-out" name="button_id">Log Out</button>
            </form>
        </div>
    </div>
</body>

</html>